@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../util/IncludeMedia/includemedia.scss";

$yellow_Color: #ffd42d;
$white_Color: #f1f5f5;
$black_Color: rgba(33, 33, 33, 0.9);
$heroText__Size: 20vw;
$blue__Color: #1544cd;
$red__Color: #fb6542;
$aboutHeroHeading__Color: #96ffca;
$secondary_Yellow_Color: #fff55a;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url(../../assets/Fonts/GTWalsheimProRegularRegular/GTWalsheimProRegularRegular.ttf)
      format("woff");
}
.bgHeadinglight {
  font-size: 11.7vw;
  font-family: "Fredoka One", cursive;
  color: $white_Color;
  pointer-events: none;
  text-align: right;
  padding-top: 4rem;
  line-height: 1.4;
  opacity: 0.025 !important;
  @media only screen and (max-width: 1024px) {
    font-size: 10.7vw;
  }
}
.aboutPage__Wrapper {
  width: 100%;
  height: 100%;
  .aboutPage__inner__Wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: $blue__Color;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .iconWrapper {
      cursor: pointer;
      width: 3%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .lowerSection {
      margin-top: 60vh;
      width: 80%;
      height: 100%;
      @include media("<=tablet") {
        margin-top: -60vh;
      }
      .moreAboutMe__Section {
        margin-top: 2rem;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .aboutMe__Text {
          width: 30%;
          text-align: center;
          font-family: "MyFont", sans-serif;
          font-weight: 600;
          color: $white_Color;
          font-weight: 400;
          font-size: 3vw;
          z-index: 1;
          line-height: 1;
          @include media("<=tablet") {
            font-size: 3.7vw;
            letter-spacing: -0.5px;
            line-height: 1.5;
          }
          @include media("<=420px") {
            font-size: 5vw;
            letter-spacing: -0.5px;
          }
        }
        .portfolioBoxes {
          margin-top: 2.5rem;
          width: 100%;
          height: 50vh;
          display: flex;
          z-index: 1;

          @include media("<=tablet") {
            display: flex;
            flex-direction: column;
          }
          .leftBox,
          .rightBox {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $yellow_Color;
            font-size: 3vw;
            font-family: "MyFont", sans-serif;
            color: $red__Color;
            cursor: pointer;
            letter-spacing: -1px;
            // line-height: 5;
            @include media("<=tablet") {
              width: 100%;
            }
            @include media("<=tablet") {
              font-size: 3.7vw;
              letter-spacing: -0.5px;
            }
            @include media("<=420px") {
              font-size: 5vw;
              letter-spacing: -0.5px;
            }
          }
          .rightBox {
            background-color: $red__Color;
            color: $yellow_Color;
          }
        }
      }
      .workedWith__Section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
        @media only screen and (orientation: landscape) {
          margin-top: 5rem !important;
        }
        @include media(">tablet") {
          margin-top: 2rem;
          margin-bottom: 4rem !important;
        }
        .tileHead {
          width: 100%;
          display: flex;
          justify-content: center;
          h1 {
            font-family: "MyFont", sans-serif;
            font-size: 3vw;
            font-weight: 400;
            color: $white_Color;
            letter-spacing: -1px;
            @include media("<=tablet") {
              font-size: 3.7vw;
              letter-spacing: -0.5px;
            }
            @include media("<=420px") {
              font-size: 5vw;
              letter-spacing: -0.5px;
            }
          }
        }
        .brandsLogos {
          margin-top: 4rem;
          margin-bottom: 1rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          .brandsName__Container,
          .brandsName__Container3DH {
            width: 33%;
            h1 {
              text-align: center;
              font-family: "MyFont", sans-serif;
              font-size: 2vw;
              font-weight: 400;
              color: $white_Color;
            }
          }
          .brandsName__Container3DH {
            h1 {
              text-align: left;
            }
          }
          .brandsImg2__Container {
            width: 33%;
            img {
              width: 50%;
              height: 50%;
              object-fit: contain;
            }
          }
          .brandsImg2__Container:nth-child(3) {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
          }
        }
      }
      .futureGoals__Section {
        margin-top: 5rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .futureHead {
          width: 100%;
          height: 15%;
          display: flex;
          justify-content: center;
          h1 {
            font-family: "MyFont", sans-serif;
            font-size: 3vw;
            font-weight: 400;
            color: $white_Color;
            letter-spacing: -1px;
            @include media("<=tablet") {
              font-size: 3.7vw;
              letter-spacing: -0.5px;
            }
            @include media("<=420px") {
              font-size: 5vw;
              letter-spacing: -0.5px;
            }
          }
        }
        .boxes {
          width: 80%;
          height: 100%;
          display: flex;
          margin-top: 2rem;
          padding-bottom: 5rem;
          @include media("<=860px") {
            display: flex;
            flex-direction: column-reverse;
          }
          .leftSide,
          .rightSide {
            width: 50%;
            height: 85%;
            @include media("<=860px") {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
          }
          .leftSide {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.15);
            font-family: "MyFont", sans-serif;
            font-size: 1.75vw;
            line-height: 1.6;
            font-weight: 400;
            padding: 1.5rem;
            color: $aboutHeroHeading__Color;
            ul {
              li {
                list-style-type: none;
                font-size: 1.75vw;
                font-weight: 550;
                @include media("<=tablet") {
                  font-size: 2.5vw;
                  letter-spacing: -0.5px;
                }
                @include media("<=420px") {
                  font-size: 3.75vw;
                  letter-spacing: -0px;
                }
              }
            }
            @include media("<=860px") {
              width: 100%;
            }
            @include media("<=tablet") {
              margin-top: -2rem;
            }
          }
          .rightSide {
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
            @include media("<=860px") {
              width: 100%;
            }
            @include media("<=tablet") {
              margin-top: -20vw;
            }
          }
        }
      }
    }
    .lowerSection:before {
      content: " ";
      position: absolute;
      top: 100vh;
      left: 0;
      width: 100%;
      height: 180vh;
      opacity: 0.05;
      background: url("../../assets/YellowPattren.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.hero__wrapper {
  height: calc(100vh);
  // position: fixed !important;
}

.hero__Section {
  overflow: hidden;
  .about__heading {
    position: relative !important;
    top: 18% !important;
    text-align: center;
    width: 100%;
    z-index: 1;
    h1 {
      color: $aboutHeroHeading__Color;
      font-family: "Poppins", sans-serif;
      font-size: 22vw;
      text-shadow: 5px 65px 15px rgba(63, 107, 169, 0.1);
      font-weight: 650;
      color: $white_Color;
    }
  }
  .about__heading {
    @include media(">tablet", "<=945px") {
      top: 26% !important;
    }
    @include media("<780px") {
      top: 30% !important;
    }
    @include media("<665px") {
      top: 30% !important;
    }
    @include media("<650px") {
      top: 35% !important;
    }
    @include media("<478px") {
      top: 38% !important;
    }
    @include media("<380px") {
      top: 40% !important;
    }
    @include media("<320px") {
      top: 42% !important;
    }
  }

  .about__heading {
    @media only screen and (min-height: 800px) and (max-width: 480px) {
      top: 45% !important;
    }
  }
  .aboutPageBoyImg__Wrapper {
    @media screen and (max-height: 563px) {
      top: 0% !important;
    }
    width: 100%;
    height: 100%;
    // position: fixed !important;
    top: -5% !important;
    left: 9% !important;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @keyframes backgroundEffect {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(20px, 10px);
      }
      50% {
        transform: translate(0px, 10px);
      }
      75% {
        transform: translate(-10px, -20px);
      }
      100% {
        transform: translate(0px, 0px);
      }
    }
    @include media("<=420px") {
      // margin-top: -2rem;
      width: 85%;
      height: 85%;
      top: 5% !important;
      left: 15% !important;
    }
    @include media("<=tablet") {
      animation-name: backgroundEffect;
      animation-duration: 30s;
      animation-iteration-count: infinite;
    }
  }
}
